<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMS SPAM or HAM?</title>
    <link href="../static/singlePageTemplate.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <section class="hero" id="hero">
        <h2 class="hero_header" style="text-align: center;">IS THIS SMS SPAM OR HAM?!</h2>
        <p class="tagline" style="text-align: center;">Machine Learning Natural Language Classifier</p>
        <div class="main">
            <div style="text-align: center;">
                <form action="/datatable" method="POST">
                <input type="submit" class="btn-info" value="Explore Project Dataset">
            </form>
                <br>
                <form action="/" method="POST">
                <input type="submit" class="btn-info" value="Back">
            </form>
                <h1>{{header}}</h1>
                <h3>Red = Spam Descriptor, Blue = Non-Spam (Ham) Descriptor</h3>
                <h5>Hover over graphical elements for more details</h5>
                <br>
                <div id="chart" class="chart"></div>
                <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                <script type="text/javascript">
                    var graphs1 = {{graphJSON1 | safe}};
                    Plotly.plot('chart',graphs1,{});
                </script>
                <div id="chart2" class="chart"></div>
                <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                <script type="text/javascript">
                    var graphs2 = {{graphJSON2 | safe}};
                    Plotly.plot('chart2',graphs2,{});
                </script>
                <div id="chart3" class="chart"></div>
                <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                <script type="text/javascript">
                    var graphs3 = {{graphJSON3 | safe}};
                    Plotly.plot('chart3',graphs3,{});
                </script>



                <br>
                            <form action="/" method="POST">
                <input type="submit" class="btn-info" value="Back">
            </form>
            </div>



        </div>
        <div style="text-align: center;">
            <br>
            <h4>Erwin Uppal</h4>
            <h5>
                Classifier for identifying SMS messages as SPAM or not (HAM)
                <br>
            </h5>
            <h5>
                This tool is in no way guaranteed to be accurate!<br>User maintains culpability for all risks regardless
                of received prediction
            </h5>
        </div>
    </section>
</div>
</body>
</html>
