<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMS SPAM or HAM?</title>
    <link href="../static/singlePageTemplate.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <section class="hero" id="hero">
        <h2 class="hero_header" style="text-align: center;">IS THIS SMS SPAM OR HAM?!</h2>
        <p class="tagline" style="text-align: center;">Machine Learning Natural Language Classifier</p>
        <div class="main">
            <div style="text-align: center;">
                <form action="/finalize1" method="POST">
                    <br>
                    <textarea id="message" class="form-control" name="message"
                              placeholder="Enter Message text to predict if SPAM or HAM here!" rows="10" cols="50"></textarea>
                    <br>
                    <br>
                    <input type="submit" class="btn-info" value="Test if the above message is likely Spam">
                    <br>
                </form>
            </div>

            <div style="text-align: center;">
                <form action="/finalize2" method="post">
                    <br>
                    <input type="submit" class="btn-info" value="Generate an example SMS Message and Test it for Spam">
                    <br>
                    <p>Example messages are not reviewed and may contain profanity,<br>illegitimate links/postal addresses/phone numbers, or other material the user may find unsuitable</p>
                </form>
            </div>
            <div style="text-align: center;">
                <form action="/graphs" method="post">
                    <br>
                    <br>
                    <input type="submit" class="btn-info" value="Generate Breakdown graphs of Data and allow me to explore the Dataset">
                    <br>
                </form>
            </div>
        </div>
        <div style="text-align: center;">
            <br>
            <h4>Erwin Uppal</h4>
            <h5>
                Classifier for identifying SMS messages as SPAM or not (HAM)
                <br>
            </h5>
            <h5>
                This tool is in no way guaranteed to be accurate!<br>User maintains culpability for all risks regardless
                of received prediction
            </h5>
        </div>
    </section>
</div>
</body>
</html>
